<div id="inline-div">
  <div id="talk">
    <div id="ct">
      <h2>Crypto Talk</h2>
    </div>
    <div id="ct-feed">
      <% if(user){ %>
      <div id="post-form">
      Put your 2 Satoshis in:
      <form  action="/" method="POST">
        <div>
          <input id="post" type="text" name="p"></input>  
        </div>
        <div>
          <input id="post-submit" type="submit" />
        </div>
      </form>
    </div>
    <% } %>
    <div class="posts">
      <ul>
        <% posts.forEach(post => { %>

          <li>  <%= post.user.userName %>: <%= post.content %>
            <% if (post.user.id === userId) { %>
            <form method="POST" action="/<%= post.id %>/?_method=PUT">
              <input id="edit-window" type="text" name="content"/>
              <button class="put-delete-button" type="submit">Edit</button>
          </form>
          <form method="POST" action="/<%= post.id %>/?_method=DELETE">
            <button class="put-delete-button" type="submit">Delete</button>
         </form>
        <% } %>
            </li>
          <% }) %>
        
      </ul>
    </div>
    </div>
  </div>

  <div id="cryptos">
    <div>
      <ul>
        <% tickers.forEach(ticker => { %>

        <li><%= ticker.symbol %></li>

        <% }) %>
      </ul>
    </div>
  </div>
  <div>
    <div id="prices">
      <ul>
        <% tickers.forEach(ticker => { %>

        <li><%= ticker.price %></li>

        <% }) %>
      </ul>
    </div>
  </div>
</div>
