<h2 id="hello"> Hello, <%= user.userName %></h2>
<div id="your-crypto-container">
<div id="your-crypto-search">
  <div class="crypto-search-text">
    Create your own
    </div>
    <div class="crypto-search-text">
      crypto watch list
    </div>
    <div class="crypto-search-text">
      Search here:
    </div>
    <div class="crypto-search-text">
  
  </div>
<form id="search-form" method="GET" action="/users/profile">
  <input type="text" id="search" name="q" />
  <input id="search-button" type="submit" />
</form>
<ul>
  <% tickers.forEach(ticker => { %>

  <li><%= ticker.symbol %> - <%= ticker.price %>
    <form method="POST" action="/users/profile">
      <input type="hidden" name="symbol" value="<%= ticker.symbol %>"/>
      <input type="submit" id="add-watch"/>
    </form>
  </li>

  <% }) %>
  
</ul>
</div>

<div id="your-crypto-box">
  <ul>
    <% userTickers.forEach(ticker => { %>
  
    <li><%= ticker.symbol %> - <%= ticker.price %>
    </form>
    <form method="POST" action="/users/profile/<%= ticker.symbol %>/?_method=DELETE">
      <button class="user-crypto-remove" type="submit">Remove</button>
   </form>
  </li>
    <% }) %>
    
  </ul>
  
</div>
</div>





