<h2 id="hello"> <%= user.userName %></h2>
<div id="your-crypto-container">
<div id="your-crypto-search">
<form method="GET" action="/users/profile">
  <label for="search">Search</lablel>
  <input type="text" id="search" name="q" />
  <input type="submit" />
</form>
<ul>
  <% tickers.forEach(ticker => { %>

  <li><%= ticker.symbol %> - <%= ticker.price %>
    <form method="POST" action="/users/profile">
      <input type="hidden" name="symbol" value="<%= ticker.symbol %>"/>
      <input type="submit" id="add-watch"/>
    </form>
  </li>

  <% }) %>
  
</ul>
</div>

<div id="your-crypto-box">
  <ul>
    <% userTickers.forEach(ticker => { %>
  
    <li><%= ticker.symbol %> - <%= ticker.price %>
    </form>
    <form method="POST" action="/users/profile/<%= ticker.symbol %>/?_method=DELETE">
      <button id="user-crypto-delete" type="submit">Remove</button>
   </form>
  </li>
    <% }) %>
    
  </ul>
  
</div>
</div>





